Repository xlsdg/umi-dva-antd-typescript-starter: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .js --fix, tslint --fix, stylelint --syntax less

.lintstagedrc:

{
  "src/**/*.{js,jsx,ts,tsx,less,scss,css,json}": ["prettier --write", "git add"],
  "src/**/*.{js,jsx}": "eslint --ext .js --fix",
  "src/**/*.{ts,tsx}": "tslint --fix",
  "src/**/*.less": "stylelint --syntax less"
}

chore(mod): upgrade packages
  package.json
Due: none

chore(mod): upgrade packages
  config/config.js
  src/pages/document.ejs
Due: none

chore(mod): upgrade packages
  config/config.js
  config/config.local.js
  config/config.prod.js
Due: none

chore(mod): upgrade packages
  src/layouts/index.less
Due: prettier --write, stylelint --syntax less

chore(mod): upgrade packages
  .eslintrc
  package.json
Due: none

chore(mod): upgrade packages
  package.json
  src/app.ts
  src/utils/helper.ts
Due: prettier --write, tslint --fix

chore(pkg): upgrade deps
  package.json
Due: none

chore(pkg): upgrade deps
  .eslintrc
  package.json
Due: none

chore(cfg): add NODE_ENV
  .eslintrc
  config/config.js
  package.json
Due: none

chore(pkg): upgrade deps
  package.json
  src/utils/request.ts
Due: prettier --write, tslint --fix

chore(pkg): upgrade deps
  config/config.prod.js
  package.json
  src/global.ts
Due: prettier --write, tslint --fix

chore(pkg): upgrade deps
  package.json
  src/app.ts
Due: prettier --write, tslint --fix
