Repository xlsdg/umi-dva-antd-typescript-starter: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .js --fix, tslint --fix, stylelint --syntax less

chore(pkg): upgrade deps
  package.json
Due: none

chore(pkg): upgrade deps
  jsconfig.json
  package.json
  src/pages/404.less
  src/pages/404.tsx
  src/pages/index.less
  src/pages/index.tsx
Due: prettier --write, tslint --fix, stylelint --syntax less

chore(pkg): upgrade deps
  .lintstagedrc
  jsconfig.json
  package.json
Due: none

chore(pkg): upgrade deps
  src/components/ErrorBoundary/index.jsx
  src/components/ErrorBoundary/index.less
Due: prettier --write, eslint --ext .js --fix, stylelint --syntax less

chore(pkg): upgrade deps
  config/config.js
  src/global.ts
Due: prettier --write, tslint --fix

chore(pkg): upgrade deps
  config/config.prod.js
  package.json
Due: none

chore(pkg): upgrade deps
  config/config.local.js
  config/config.prod.js
Due: none

chore(pkg): upgrade deps
  config/config.js
  package.json
Due: none

Path conditions:
  prettier --write: any of: src/**/*.{js,jsx,ts,tsx,less,scss,css,json}
  eslint --ext .js --fix: any of: src/**/*.{js,jsx}
  tslint --fix: any of: src/**/*.{ts,tsx}
  stylelint --syntax less: any of: src/**/*.less
